$box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.1);
$button-color: rgb(254, 216, 76);

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;

  &__info {
    display: flex;
    flex-direction: row;

    gap: 92px;

    &-box {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 600px;
    }

    &-title {
      font-size: 30px;
    }

    &-text {
      max-width: 300px;
    }

    &-button {
      width: 320px;
      height: 87px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      border: none;
      border-radius: 8px;
      background: $button-color;
      font-family: "Montserrat", serif;
      font-weight: 500;
      transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;

      &:hover {
        border: 3px solid $button-color;
        background: #fff;
        color: rgb(0, 0, 0);
      }

      &:active {
        transform: scale(0.98);
      }
    }

    &-img {
      max-width: 460px;
    }
  }

  &__top {
    display: flex;
    gap: 50vw;
    align-items: center;

    &-left-title {
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &-left-img {
      max-width: 30px;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;

  &__catalog {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    gap: 20px;
    margin-top: 50px;

    .main__product {
      box-shadow: $box-shadow;
      border-radius: 25px;

      &-image {
        max-width: 380px;
        min-height: 245px;
        border-radius: 10px;
      }

      &-info {
        padding: 30px 0px 0px 15px;

      }

      &-title {
        font-size: 24px;
        font-weight: 700;
      }

      &-text {
        margin-top: 12px;
        font-size: 16px;
        font-weight: 400;
      }

      &-price {
        margin-top: 24px;
        font-size: 24px;
        font-weight: 500;
      }

      &-button {
        margin-top: 30px;
        width: 380px;
        height: 50px;
        border: none;
        border-radius: 8px;
        background: $button-color;
        font-family: "Montserrat", serif;
        font-weight: 500;
        transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;

        &:hover {
          border: 3px solid $button-color;
          background: #fff;
          color: rgb(0, 0, 0);
        }

        &:active {
          transform: scale(0.98);
        }
      }
    }
  }

  &__order__preparation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 200px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 50px 0 50px 0px;
    border-radius: 25px;
    width: 77vw;
    gap: 92px;

    &__preview {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 30px;
    }

    &-img {
      max-width: 500px;
      border-radius: 100px;
    }

    &__info {
      max-width: 520px;

      &-title {
        font-size: 48px;
        font-weight: 500;
      }

      &-text {
        font-size: 21px;
        font-weight: 400;
        margin-top: 24px;
      }

      &-button {
        width: 320px;
        height: 87px;
        border: none;
        border-radius: 8px;
        background: $button-color;
        margin-top: 40px;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 500;
        transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;

        &:hover {
          border: 3px solid $button-color;
          background: #fff;
          color: rgb(0, 0, 0);
        }

        &:active {
          transform: scale(0.98);
        }
      }

      &-submit {
        width: 520px;
        height: 50px;
        border: none;
        border-radius: 8px;
        background: $button-color;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 500;
        transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;

        &:hover {
          border: 3px solid $button-color;
          background: #fff;
          color: rgb(0, 0, 0);
        }

        &:active {
          transform: scale(0.98);
        }
      }
    }

    &__success {
      margin-top: 30px;
      font-size: 20px;
    }
  }

  &__chef {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 50px 0 50px 0px;
    border-radius: 25px;
    width: 77vw;
    gap: 92px;
    justify-content: center;

    &__box {
      max-width: 580px;

      &-info {
        position: absolute;
        bottom: 97px;
        right: 290px;

        &-name {
          background-color: black;
          color: #fff;
          padding: 10px 10px 10px 10px;
          border-radius: 15px 15px 0 0;
          text-align: center;

        }

        &-position {
          background-color: #fff;
          padding: 10px 5px 10px 5px;
          text-align: center;
          border-radius: 0 0 15px 15px;
          border: solid;
        }
      }

      &-title {
        font-size: 48px;
        font-weight: 500;
      }

      &-text {
        margin-top: 36px;
        font-size: 18px;
        font-weight: 400;
        max-width: 500px;
      }

      &-button {
        width: 299px;
        height: 87px;
        border: none;
        border-radius: 8px;
        background: $button-color;
        margin-top: 50px;
        font-size: 18px;
        font-weight: 500;
        font-family: "Montserrat", serif;
        transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;

        &:hover {
          border: 3px solid $button-color;
          background: #fff;
          color: rgb(0, 0, 0);
        }

        &:active {
          transform: scale(0.98);
        }
      }


    }

    &__img {
      max-width: 310px;
      border-radius: 63px;
    }

    &__success-message {
      margin-top: 10px;
      color: #4caf50;
      font-size: 14px;
      font-weight: bold;
    }

    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;

      &__content {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        width: 30vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__title {
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: bold;
      }

      &__textarea {
        width: 25vw;
        height: 100px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: none;
        margin-bottom: 15px;
      }

      &__close,
      &__submit {
        width: 100px;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer;
        padding: 10px;
        margin: 0px 30px 0 0;
      }

      &__submit {
        background: $button-color;
        transition: background 0.3s ease, color 0.3s ease;

        &:hover {
          background: rgb(255, 255, 255);
          outline: solid 2px $button-color;
        }

        &:active {
          transform: scale(0.98);
        }
      }

      &__close {
        background: rgb(0, 0, 0);
        color: #fff;
        transition: background 0.3s ease, color 0.3s ease;

        &:hover {
          background: rgb(255, 255, 255);
          color: black;
          outline: solid 2px rgb(0, 0, 0);
        }

        &:active {
          transform: scale(0.98);
        }
      }
    }
  }

  &__feedback {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    background-color: #fff6d6;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 50px 0px 50px 0px;
    border-radius: 25px;
    width: 77vw;
    align-items: center;

    .main__reviews-carousel {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      gap: 20px;

      &__review-card {
        display: flex;
        flex-direction: column;
        gap: 25px;
      }

      .main__reviews-buttons {
        display: flex;
        gap: 100px;
        justify-content: center;
        margin-top: 24px;

        .main__prev-button {
          width: 100px;
          height: 40px;
          border: none;
          border-radius: 10px;
          background: $button-color;
          transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;

          &:hover {
            border: 3px solid $button-color;
            background: #fff;
            color: rgb(0, 0, 0);
          }

          &:active {
            transform: scale(0.98);
          }
        }

        .main__next-button {
          width: 100px;
          height: 40px;
          border: none;
          border-radius: 10px;
          background: $button-color;
          transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;

          &:hover {
            border: 3px solid $button-color;
            background: #fff;
            color: rgb(0, 0, 0);
          }

          &:active {
            transform: scale(0.98);
          }
        }
      }
    }
  }

  &__example {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 200px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 50px 0px 50px 0px;
    border-radius: 25px;
    width: 77vw;

    &__img-box {
      display: grid;
      grid-template-columns: repeat(3, 300px);
      gap: 10px;
      padding-top: 30px;
    }

    &__img-product {
      max-width: 300px;
      border-radius: 10px;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 50px;
    gap: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 50px 0px 50px 0px;
    border-radius: 25px;
    width: 77vw;

    &-phone {
      font-family: "Montserrat", serif;
      font-weight: 400;
      width: 400px;
      height: 50px;
      margin-right: 20px;
      border: none;
      border-radius: 8px;
      background: rgb(228 233 237);
      padding-left: 20px;
    }

    &-button {
      font-family: "Montserrat", serif;
      font-weight: 500;
      width: 200px;
      height: 50px;
      border: none;
      border-radius: 8px;
      background: $button-color;
      transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;

      &:hover {
        border: 3px solid $button-color;
        background: #fff;
        color: rgb(0, 0, 0);
      }

      &:active {
        transform: scale(0.98);
      }
    }
  }

  &-text {
    display: flex;
    justify-content: center;
  }
}